
.color--time {
    color: #05FF00;
}

.color--space {
    color: #0094FF;
}

.color--mind {
    color: #FAFF00;
}

.color--soul {
    color: #FF9900;
}

.color--reality {
    color: #FF0000;
}

.color--power {
    color: #BD00FF;
}

.color--snap {
    color:aqua;
}