@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #170035;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: light;
    font-size: 20px;
}

a i {
    vertical-align: top;
}

h1 {
    text-align: center;
    font-size: 70px;
    
}

h2 {
    font-style: light;
    margin-bottom: 5px;
}

.stats__desc__hr{
    width: 270px;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
}

p {
    font-weight: 200;
    font-size: 24px;
}

.text--green {
    color: #05FF00;
}

.container {
    max-width: 800px;  
    margin-left: auto; 
    margin-right: auto;
}

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.stats {
    display: flex;
}

.stats__block {
    flex-grow: 1;
}

.stats__movies__title {
    display: inline-flex;
}

.stats__bigNumber {
    font-size: 128px;
    font-weight: bold;
    margin-bottom: -20px;
}

.stats__desc {
    font-size: 20px;
}

.text--bottom {
    position: bottom;
    padding-top: 50px;
    padding-right: 30px;
}

.description {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    padding: 50px;
}

.timeline {
    text-align: center;
    padding-top: 25px;
}

.stone {
    margin-left: 50px;
    margin-right: 50px;
}

.grow { 
transition: all .2s ease-in-out; 
}
    
.grow:hover { 
transform: scale(1.02); 
}