@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #170035;
    color: white;
}

h1 {
    text-align: center;
    font-size: 70px;
    
}

h2 {
    font-style: light;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: light;
    font-size: 20px;
}

a i {
    vertical-align: top;
}

p {
    font-weight: 200;
    font-size: 24px;
    margin-top: 0;
}

/* colors */

.color--time {
    color: #05FF00;
}

.color--space {
    color: #0094FF;
}

.color--mind {
    color: #FAFF00;
}

.color--soul {
    color: #FF9900;
}

.color--reality {
    color: #FF0000;
}

.color--power {
    color: #BD00FF;
}

.color--snap {
    color:aqua;
}

/* Components */

.container {
    max-width: 900px;  
    margin-left: auto; 
    margin-right: auto;
}

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.text--bottom {
    position: bottom;
    padding-top: 50px;
    padding-right: 30px;
}

.description {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    padding: 50px;
}

.subheading {
    font-size: 38px;
}

.stone {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.stone--role {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 18px;
}

.stats__stone-role__container {
    display: flex;
}

.stats__aftermathBody {
    padding-bottom: 200px;
}

.gauntlet__glow {
    fill: #FFD749;
}

.footer {
    /* Css from w3schools  */
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0F0022;
   color: white;
   text-align: center;
}

/* Stats */

.stats {
    display: flex;
}

.stats__desc__hr{
    width: 270px;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
}

.stats__desc__hr--centered {
    width: 400px;
    text-align: center;
}

.stats__block {
    flex-grow: 1;
}

.stats__movies__title {
    display: inline-flex;
}

.stats__bigNumber {
    font-size: 128px;
    font-weight: bold;
    margin-bottom: -20px;
}

.stats__medText {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 50px;
}

.stats__desc {
    font-size: 20px;
}

.timeline {
    text-align: center;
    padding-top: 25px;
}

#introPage {
    padding-top: 20vh;
}

#continue {
    padding-top: 30px;
}

.quote {
    font-size: 50px;
    font-weight: 300;
}

.italics {
    font-size: 40px;
    font-weight: lighter;
    
}



/* Timelines */
#tsTime{
    content: url("../imgs/TimeStoneTimeline.svg");
}

#spsTime{
    content: url("../imgs/SpaceStoneTimeline.svg");
}

#psTime{
    content: url("../imgs/PowerStoneTimeline.svg");
}

#rsTime{
    content: url("../imgs/RealityStoneTimeline.svg");
}

#ssTime{
    content: url("../imgs/SoulStoneTimeline.svg");
}

#msTime{
    content: url("../imgs/MindStoneTimeline.svg");
}

@media screen and (max-width: 1260px) {
    #tsTime{
        content: url("../imgs/TimeStoneTimelineV.svg");
    }

    #spsTime{
    content: url("../imgs/SpaceStoneTimelineV.svg");
    }

    #psTime{
        content: url("../imgs/PowerStoneTimelineV.svg");
    }

    #rsTime{
        content: url("../imgs/RealityStoneTimelineV.svg");
    }

    #ssTime{
        content: url("../imgs/SoulStoneTimelineV.svg");
    }

    #msTime{
        content: url("../imgs/MindStoneTimelineV.svg");
    }
}

/* Animation */
.grow { 
transition: all .2s ease-in-out; 
}
    
.grow:hover { 
transform: scale(1.02); 
}